<form method="post">

    <div class="form-group">
        <label>Username
            <input name="Username" type="text" />
        </label>
    </div>
    <div class="form-group">
        <label> Email
            <input name="Email" type="text" />
        </label>
    </div>
    <div class="form-group">
        <label>Password
            <input name="Password" type="password" />
        </label>
    </div>
    <div class="form-group">
        <label>Verify
            <input name="Verify" type="password" />
        </label>
    </div>

     <input type="submit" value="Sign Up!" />


</form>